﻿@{
    @using BookiFy.ViewModel;
    @model ItemViewModel
}
<div>
    <h2>
        All Products are shown here &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a style="text-decoration: underline"asp-action="Create">Post Your Item here</a>

    </h2>
    
</div>
<div>

</div>
@{
    foreach (var item in Model.Items)
    {
        @Html.Partial("ItemSummary", item)
    }
}