﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using BookiFy.Data.Models
    @model Product
}
<div class=" col-sm-4 col-lg-4 col-md-4, float-sm-left">
    <div class="img-thumbnail">
        <img src="/Images/@Model.Image" alt="" height="200" width="200" />
        <div class="figure-caption">
            <h4>
                <a href="">@Model.ItemName</a>
            </h4>
            Price : @Model.Price
        </div>
        <div class="addToCart text-right">
            <p class="button">
                <a class="btn btn-success" id="cartButton"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-itemId="@Model.ItemId">AddToCart</a>
            </p>
        </div>
    </div>

</div>